# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-site-content/wp-admin/
/wp-site-content/wp-content/index.php
/wp-site-content/wp-content/languages
/wp-site-content/wp-content/plugins/index.php
/wp-site-content/wp-content/themes/index.php
/wp-site-content/wp-includes/
/wp-site-content/index.php
/wp-site-content/license.txt
/wp-site-content/readme.html
/wp-site-content/wp-*.php
/wp-site-content/xmlrpc.php

# Configuration
/wp-site-content/wp-config.php

# Example themes
/wp-site-content/wp-content/themes/twenty*/

# Example plugin
/wp-site-content/wp-content/plugins/hello.php

# Uploads
/wp-site-content/wp-content/uploads/

# Log files
/wp-site-content/*.log

# htaccess
/wp-site-content/.htaccess

# default akismet
/wp-site-content/wp-content/plugins/akismet

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#/wp-content/themes

# database
mysql-data

# actual docker compose
docker-compose.yml
wp-site-content/wp-content/plugins/carbon-fields
